body {
  box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgba(31, 185, 178, 0.65)

  }
  
  .calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }
  
  .button {
    cursor: pointer;
    font-size: 22px;
    color: #e0e0e0;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    background-color: rgba(75, 75, 75, 0.65);
  }

.button:hover{
  background-color: transparent;
  color: black;
}
  
 .operation{
  background-color: #ff8c00;
  color: black;
  border-radius: 5px;
}

.operation:hover{
  background-color: transparent;
}

  
  .twoSpace {
    grid-column: span 2;
  }
  
  .display {
    grid-column: 1 / -1;
    background-color: rgba(228, 215, 215, 0.75);
    font-size: 22px;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
